
 FCC head honcho Kevin Martin outlined a proposal for mandatory public service announcements (PSAs) to educate the masses about the coming digital switchover. The proposed schedule would bring an ever-increasing wave of announcements in six-month stages, starting in November. Here's a rundown of the daily schedule requirements during each six-month phase, with each PSA lasting a minimum of 15 seconds: 1) four PSAs, each in a different four-hour daypart; 2) eight PSAs, two in each daypart, plus four crawls, one in each daypart; 3) 12 PSAs and 12 crawls, three of each in each daypart. If the proposal is approved at the October 31 meeting, expect to see some hastily assembled PSAs (are there any other kind?) in at least the first wave.
      

 