
 The topic of mobile phone radiation is once again on the burner in Washington D.C. Along with Representative Dennis Kucinich's proposed legislation that would institute labeling requirements and extensive research into the health effects of RF exposure, the US Government Accountability Office has issued a recommendation that the FCC update its current exposure limits and reevaluate current testing methodologies. As is, the FCC's radiation guidelines are based on research that was concluded in 1996, and while the US GAO concedes that this may lead to the adoption of higher SAR limits (in certain usage scenarios), the organization contends that it's time to bring current research and international recommendations into consideration.

 As potential cause for concern, the US GAO has also identified a failure of current testing methodologies. Put simply, manufacturers are currently required to submit specific absorption rates that reflect usage against both the head and body, however in the case of the body test, this is always done with the assumption of a holster. While a distance of 1.5 to 2.5 centimeters may not seem like much, SAR values increase with proximity, and many who use their mobile phones in their pockets -- say, with a Bluetooth headset -- are at risk of exposing themselves to RF limits that exceed current guidelines. The actual absorption rates are currently unknown.

 For its part, the FCC has responded to the US GAO and asserts that it has independently arrived at many of the same conclusions, and adds that it has initiated the procedural requirements necessary for the reevaluation of RF safety rules. Those who'd like to learn more can scour the complete recommendation, along with Rep. Kucinich's proposal, at the source links below.


